<section id="learn-constitution">

  <div class="heading" fxLayout="column" fxLayoutAlign="center">
    <div class="title-wrap" fxLayoutAlign="center">
      <div>
        <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">The Constitution</h2>
        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">How Our Nation's Government is Set Up</h3>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="body">
      <div class="block" fxLayoutAlign="center">

        <div class="text">
          <p>
            The United States Constitution is the supreme law of our land.
            The document sets up and defines our government.
            The first three words of the Constitution are "<i>We the people.</i>"
            These words represent our government's idea of self-government.
          </p>
        </div>
      </div>

      <h2>Amendments</h2>
      <div class="block">
        <img src="/assets/images/amendments.jpg" class="block-image"/>
        <div class="text">
          Article V of the constitution details the amendment process: a process in which the constitution can be reformed and added onto.
          An amendment is like a law, but is more permanent and harder to undo.
          In the past, there have been twenty-seven amendments.
          The first ten amendments to the constitution are the Bill of Rights, which were added in response to fears that the government could encroach on people's rights.
        </div>
      </div>

      <h2>The Bill of Rights</h2>
      <div class="block">
        <div class="text">
          The Bill of Rights are the first ten amendments to the U.S. Constitution.
          Written by James Madison, one of our nation's founding fathers and fourth president, these amendments protect your rights from the government.
          One of the most important amendments in the Bill of Rights is the first one: freedom of expression.
          This amendment protects your right to speak, protest, petition, and assemble against the government.
          In addition, this amendment also protects your right to religious freedom: the freedom to practice any religion or to not practice.
          <br><br>
          To the right, is a description of each amendment in the Bill of Rights, and a cartoon showing which of your rights it protects.
        </div>
        <img src="/assets/images/Bill-of-Rights-cartoon.jpg" class="block-image" />
      </div>
      <h2>Voting Rights</h2>
      <div class="block">
        <img src="/assets/images/voting-rights.jpg" class="block-image" />
        <div class="text">
          Throughout the history of the United States, there have been many amendments that changed the scope of who can vote.
          During the founding of the constitution (1700s), voting was, for the most part, limited to white, landowning men.
          The 1800s would show the first progress towards voting rights for african americans.
          After the Civil War and during the Reconstruction era,
          Congress passed the 15th amendment to the Constitution, which stated that no man could be denied the right to vote based on race.
          However, many states would use poll taxes and literacy tests to reduce the number of African American voters.
          In 1920, women earned the right to vote with the 19th amendment to the Constitution.
          The last amendment to change voting rights was the 24th amendment, which removed the poll taxes put in place to reduce african american voters.
        </div>
      </div>

      <div class="block end" fxLayoutAlign="center">
        <p>
          A full copy of the constitution can be found <a href="https://www.archives.gov/founding-docs/constitution-transcript">here.</a>
        </p>
      </div>
    </div>
  </div>
</section>
