<section id="learn-declaration">

  <div class="heading" fxLayout="column" fxLayoutAlign="center">
    <div class="title-wrap" fxLayoutAlign="center">
      <div>
        <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">The Declaration of Independence</h2>
        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Gaining Independence from Britain</h3>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="body">
      <div class="block" fxLayoutAlign="center">

        <div class="text">
          The Declaration of Independence was the document that declared our independence from Great Britain, and separated our history as colonies and as a nation.
          The document was based on enlightenment ideals, and one of the most memorable lines from it is our right to 'life, liberty and the pursuit of happiness.'
        </div>
      </div>

      <h2>History</h2>
      <div class="block">
        <img src="/assets/images/founding-fathers-declaration.jpg" class="block-image"/>
        <div class="text">
          After the French and Indian War (or the Seven Years War),
          Great Britain was in debt from expending all of its resources to beating the French.
          Because of this, Great Britain started to tax America and all of their other countries to pay off their debt.
          America complained that they had no representation in government to be able to decide how much they were taxed
          as Great Britain created new taxes and enforced their rule heavier on the colonies.
          As time went on, and after the Boston Massacre, an armed conflict between colonial America and the British,
          and Thomas Paine's Common Sense, a pamphlet on why it is 'common sense' for America to separate from Britain,
          the Declaration of Independence was written, and was unanimously adopted on July 4, 1776.
        </div>
      </div>

      <h2>The Bill of Rights</h2>
      <div class="block">
        <div class="text">
          The Bill of Rights are the first ten amendments to the U.S. Constitution.
          Written by James Madison, one of our nation's founding fathers and fourth president, these amendments protect your rights from the government.
          One of the most important amendments in the Bill of Rights is the first one: freedom of expression.
          This amendment protects your right to speak, protest, petition, and assemble against the government.
          <br><br>
          The second amendment protects your right to bear arms.
          <br><br>
          To the right, is a description of each amendment in the Bill of Rights, and a cartoon showing which of your right it protects.
        </div>
        <img src="/assets/images/Bill-of-Rights-cartoon.jpg" class="block-image" />
      </div>


      <div class="block end" fxLayoutAlign="center">
        <p>
          A full copy of the Declaration of Independence can be found <a href="https://www.archives.gov/founding-docs/declaration-transcript">here.</a>
        </p>
      </div>
    </div>
  </div>
</section>
