
.side-image {
  margin-right: 3rem;
  margin-left: 3rem;
}

.side-image img {
  height: 30rem;
}

.heading-image {
  max-width: 85vw;
}

.info-heading h2 {
  font-size: 32px;
}

.info-heading h3 {
  font-size: 22px;
}

.info-heading {
  text-align: center;
}

.big-text {
  font-size: 1.4rem;
}
