<section id="heading" class="mat-typography"
    fxLayoutAlign="center center"
    [ngStyle.lt-md]="{'margin-top': '60px', 'margin-bottom': '60px'}"
    @insertRemoveTrigger>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
      <div class="heading-section" fxLayout="column" fxLayoutAlign="center center" fxFlex="50">
          <div [class.animated]="isHeading" [class.fadeInLeft]="isHeading">
            <h1 [ngStyle.xs]="{'font-size': '32px'}" [ngStyle.sm]="{'font-size': '42px'}">Your Citizenship</h1>
          </div>
          <div [class.animated]="isSubheading" [class.fadeInRight]="isSubheading">
            <h2 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Study and practice for your U.S. Naturalization Test.</h2>
          </div>
          <div fxLayout="row" [class.animated]="isHeadingBtn" [class.fadeIn]="isHeadingBtn" [class.heading-btn]="isHeadingBtn">
              <a class="heading-button-left" mat-flat-button color="accent" routerLink="/get-started">Get Started With Civic <mat-icon>arrow_right_alt</mat-icon></a>
          </div>
      </div>
    </div>
  </div>
</section>
