.heading h1 {
  margin-bottom: 0.4rem;
}

.action button {
  margin-bottom: 2rem;
}

.question-card {
  width: 25rem;
  margin-bottom: 1rem;
}

@supports (width: min(350px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  }
}
