<div class="header" fxLayoutAlign="center">
  <h2>Learn About U.S. Civics and History</h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="1rem">
  <mat-card>
    <mat-card-title>The Constitution</mat-card-title>
    <mat-card-subtitle>How Our Nation's Government is Set Up</mat-card-subtitle>
    <img mat-card-image src="/assets/images/constitution.jpg" />
    <mat-card-actions>
      <div fxLayoutAlign="end">
        <button mat-button (click)="navigate('constitution');">Learn</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title [style]="{'font-size': '1.3rem'}">Declaration of Independence</mat-card-title>
    <mat-card-subtitle>Gaining Independence from Britain</mat-card-subtitle>
    <img mat-card-image src="/assets/images/declaration-of-independence.jpg" />
    <mat-card-actions>
      <div fxLayoutAlign="end">
        <button mat-button (click)="navigate('declaration-of-independence');">Learn</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title [style]="{'font-size': '1.3rem'}">Our Economy</mat-card-title>
    <mat-card-subtitle>Capitalism in the U.S.</mat-card-subtitle>
    <img mat-card-image src="/assets/images/us-economy.jpg" />
    <mat-card-actions>
      <div fxLayoutAlign="end">
        <button mat-button (click)="navigate('economy');">Learn</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title [style]="{'font-size': '1.3rem'}">Branches of Government</mat-card-title>
    <mat-card-subtitle>The Executive, Legislative, and Judicial Branches</mat-card-subtitle>
    <img mat-card-image src="/assets/images/branches-of-government.jpg" />
    <mat-card-actions>
      <div fxLayoutAlign="end">
        <button mat-button (click)="navigate('economy');">Learn</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title [style]="{'font-size': '1.3rem'}">The Supreme Court</mat-card-title>
    <mat-card-subtitle>The Supreme Law of the Land</mat-card-subtitle>
    <img mat-card-image src="/assets/images/supreme-court.jpg" />
    <mat-card-actions>
      <div fxLayoutAlign="end">
        <button mat-button (click)="navigate('economy');">Learn</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title [style]="{'font-size': '1.3rem'}">Our Presidents</mat-card-title>
    <mat-card-subtitle>The History of the U.S. Presidents</mat-card-subtitle>
    <img mat-card-image src="/assets/images/washington.jpg" />
    <mat-card-actions>
      <div fxLayoutAlign="end">
        <button mat-button (click)="navigate('economy');">Learn</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title [style]="{'font-size': '1.3rem'}">Slavery</mat-card-title>
    <mat-card-subtitle>Our Country's History With Slavery</mat-card-subtitle>
    <img mat-card-image src="/assets/images/slavery.jpg" />
    <mat-card-actions>
      <div fxLayoutAlign="end">
        <button mat-button (click)="navigate('economy');">Learn</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title [style]="{'font-size': '1.3rem'}">War</mat-card-title>
    <mat-card-subtitle>United States Involvement in Wars</mat-card-subtitle>
    <img mat-card-image src="/assets/images/war.jpeg" />
    <mat-card-actions>
      <div fxLayoutAlign="end">
        <button mat-button (click)="navigate('economy');">Learn</button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>
