.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

  .sidenav .mat-toolbar {
    background: inherit;
  }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
}

.app-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 0;
  width: 100%;
}

  .app-toolbar a {
    color: white;
  }

  .app-toolbar > ul {
    display: inline-flex;
    align-items: center;
    font-size: small;
    gap: 1.25rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

    .app-toolbar > ul > li {
      display: inline-flex;
      align-items: center;
      gap: .25rem;
      margin: 0;
      padding: 0;
    }

  .app-toolbar span:first-child {
    display: flex;
    align-items: center;
  }

  .app-toolbar mat-icon {
    transform: scale(0.75);
  }

.user-name{
    padding-top:1px;
}

.link-active {
   font-weight:bold;
}
